<div class="row">
  <div class="col">

    <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 3112 2122" style="enable-background:new 0 0 3112 2122;" xml:space="preserve">

      <svg:rect (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="bureau3" mapRoom x="155.1" y="113.8" class="st1" width="379.1" height="456.7"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="bureau2" mapRoom class="st1" points="541.8,113.8 933.6,113.8 933.6,402.2 870.1,402.2 870.1,570.5 541.8,570.5 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="bureau1" mapRoom class="st1" points="941.1,403.1 941.1,113.8 1216.1,113.8 1350,47 1483.6,0.8 1483.6,403.1 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="open-space1" mapRoom class="st1" points="880,412 1409.1,410.6 1409.1,727.2 1246.3,727.2 1246.3,756.2 1096.3,756.2 1095,1627 155,1627
        155.1,578 880,577 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="open-space2" mapRoom class="st1" points="155.1,1636.8 1103.8,1636.8 1103.8,1466.3 1403.9,1466.3 1403.9,1633.8 1520.9,1633.8 1520.9,2122
        155.1,2122 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="reunion1" mapRoom class="st1" points="1733.1,1630.2 2140,1632 2137.6,2122 1735,2122 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="salle-projet1" mapRoom class="st1" points="2145.1,1630.2 2208.1,1630.2 2208.1,1438.7 3112,1439.5 3111.1,2120.9 2147,2122 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="chaine-production1" mapRoom class="st1" points="2208.1,1431.2 2208.1,610.7 2441.1,610.7 2441.1,110.2 3112,110.2 3112,1429 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="atelier-fab1" mapRoom class="st1" points="2006.1,603.2 2433.6,603.2 2433.6,110.2 2031.3,110.2 1920,47 1776.1,1.9 1776.1,448.4 2006.1,448.4
        "/>

      <svg:rect (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="local-rep1" mapRoom x="1776.1" y="455.9" class="st1" width="222.5" height="147.3"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="toilets1" mapRoom  class="st1" points="1103.8,763.7 1253.8,763.7 1255,737 1410,737 1409.1,763.7 1493.1,763.7 1493.1,1458.8 1103.8,1458.8
          "/>
      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="sas1" mapRoom class="st1" points="1491.1,0.8 1768.6,0 1770,342 1490,342 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="hall1" mapRoom class="st1" points="1490,352 1770,352 1768.6,610.7 1838.6,610.7 1838.6,756.2 1751.6,756.2 1751.6,916.7 1500,917
        1500.6,756.2 1416.6,756.2 1415,572 1490,572 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="degt1" mapRoom class="st1" points="1500,927 2030,927 2028.6,1458.8 1755.3,1458.8 1755,1622 1725.6,1622.7 1725.6,2122 1528.4,2122
        1528.4,1625.8 1411.4,1626.3 1411.4,1466.3 1500,1467 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="corridor1" mapRoom class="st1" points="1846.1,756.2 1846.1,610.7 2200.6,610.7 2200.6,1622.7 1765,1622 1765,1467 2036.1,1466.3
        2036.1,756.2 	"/>

      <svg:polygon (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="local-men1" mapRoom class="st1" points="1759.1,763.7 2028.6,763.7 2030,907 1760,907 	"/>

      <svg:rect (OnHovered)="onhovered($event)" (OnClicked)="onclicked($event)" id="repro"  mapRoom x="1415" y="412" class="st1" width="70" height="150"/>
    </svg>

  </div>
</div>


