<div class="room text-center">
    <div class="room-header fa-2x">{{room.name}}</div>
    <div class="room-block">
        <ngb-tabset (tabChange)="tabChangeEvent($event)" #t="ngbTabset" [justify]="'justified'" [activeId]="room.name">
            <ngb-tab id="tab-selectbyid1{{room.name}}">
                <ng-template ngbTabTitle>
                    <i class="fa fa-thermometer-half fa-1" aria-hidden="true"></i>
                </ng-template>
                <ng-template ngbTabContent>
                    <span class="fa-2">{{room.temp}}°</span>
                    <br>
                    <mat-slider
                        class="example-margin"
                        [vertical]="false"
                        [thumb-label]="true"
                        [value]="room.thermostat"
                    >
                    </mat-slider>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-video-{{room.name}}">
                <ng-template ngbTabTitle>
                    <i class="fa fa-camera fa-1" aria-hidden="true"></i>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="video">
                        <video width="100%"  (click)="toggleVideo()" #videoPlayer>
                            <source src="/assets/videos/videoplayback.mp4" type="video/mp4" />
                            Browser not supported
                        </video>
                    </div>

                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-selectbyid3{{room.name}}" *ngIf="room.lights.length > 0">
                <ng-template ngbTabTitle>
                    <i class="fa fa-lightbulb-o fa-1" aria-hidden="true"></i>
                </ng-template>
                <ng-template ngbTabContent>
                    <h3>Lumières</h3>
                    <div *ngFor="let light of room.lights">
                        <mat-slide-toggle [checked]="light.isOn" [(ngModel)]="light.isOn"></mat-slide-toggle>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tab-selectbyid4{{room.name}}">
                <ng-template ngbTabTitle>
                    <i class="fa fa-clock-o fa-1" aria-hidden="true"></i>
                </ng-template>
                <ng-template ngbTabContent>
                    <h3>People inside</h3>
                    <p>{{room.peopleInside}}</p>
                    <h3 *ngIf="room.stores.length > 0">Stores</h3>
                    <div *ngFor="let store of room.stores">
                        <mat-slide-toggle [checked]="store.isOpen" [(ngModel)]="store.isOpen"></mat-slide-toggle>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
