.room {
  margin:12%;
}

.room-block {
  background-color: #f1eded;
  border-radius:3%;
  width: 250px;
  height: 400px;
  margin:auto;
}

.room-header {
  color: #fff;
  margin-bottom: 10px;
}

.nav-item {
  background-color: #f1eded!important;
}

.nav-tabs .nav-link.active {
  background-color: #f1eded!important;
}
