<app-sidebar [office]="office"></app-sidebar>
<div id="main">
    <router-outlet name="navbar"></router-outlet>

    <hr class="separator"/>
    <div class="row">
        <div class="col-4 pt-5">
            <div class="row">
                <div class="col">
                    <ng-container >
                        <app-map-component (OnClicked)="onClickedMapElement($event)"
                                           (OnHovered)="onHoveredMapElement($event)"></app-map-component>
                    </ng-container>
                    <h3 class="text-center">{{ lastHovered }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col ml-4">
                    <app-hover-info-component *ngIf="lastHoveredRoom" [room]="lastHoveredRoom"></app-hover-info-component>
                </div>
            </div>

        </div>

        <div class="col-8">
            <swiper [config]="config" [(index)]="index">
                <div *ngFor="let room of office.rooms">
                    <app-room [room]="room"></app-room>
                </div>
            </swiper>
        </div>
    </div>

</div>
<div class="row">
    <div class="col">
        <app-dashboard-component></app-dashboard-component>
    </div>
</div>
