
<app-sidebar [office]="office"></app-sidebar>
<div id="main">
  <router-outlet name="navbar"></router-outlet>

  <hr class="separator"/>


  <div class="row">
    <div class="col-3">
      <h2>{{ lastHovered }}</h2>
      <ng-container>
        <app-map-component (onHovered)="onHoveredMapElment($event)"></app-map-component>
      </ng-container>
    </div>

    <div class="col-9">
      <swiper [config]="config" [(index)]="index">
        <div *ngFor="let room of office.rooms">
          <app-room [room]="room"></app-room>
        </div>
      </swiper>
    </div>
  </div>

</div>
