
<router-outlet name="navbar"></router-outlet>

<hr class="separator"/>


<swiper [config]="config" [(index)]="index">
  <div>
    <div class="room text-center">
      <div class="room-header fa-2x">Bureau Sud-Ouest</div>
      <div class="room-block" >
        <ngb-tabset #t="ngbTabset" [justify]="'justified'">
          <ngb-tab id="tab-selectbyid1">
            <ng-template ngbTabTitle>
              <i class="fa fa-thermometer-half fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <span class="fa-2">25°</span>
              <br>
              <mat-slider
                class="example-margin"
                [vertical]="false"
                [thumb-label]="true"
              >
              </mat-slider>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid2">
            <ng-template ngbTabTitle>
              <i class="fa fa-camera fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>



            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid3">
            <ng-template ngbTabTitle>
              <i class="fa fa-lightbulb-o fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <br>
              Lampe murale<mat-slide-toggle></mat-slide-toggle>
              <hr>
              Lampe murale<mat-slide-toggle></mat-slide-toggle>
              <br>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid4">
            <ng-template ngbTabTitle>
              <i class="fa fa-clock-o fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
              <hr>
              <pre>Fermeture prévue à: {{time.hour}}h{{time.minute}}</pre>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div>
    <div class="room text-center">
      <div class="room-header fa-2x">Bureau Nord-Ouest</div>
      <div class="room-block" >
        <ngb-tabset #t="ngbTabset" [justify]="'justified'">
          <ngb-tab id="tab-selectbyid100">
            <ng-template ngbTabTitle>
              <i class="fa fa-thermometer-half fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <span class="fa-2">25°</span>
              <br>
              <mat-slider
                class="example-margin"
                [vertical]="false"
                [thumb-label]="true"
              >
              </mat-slider>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid200">
            <ng-template ngbTabTitle>
              <i class="fa fa-camera fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>



            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid300">
            <ng-template ngbTabTitle>
              <i class="fa fa-lightbulb-o fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <br>
              Lampe murale<mat-slide-toggle></mat-slide-toggle>
              <hr>
              Lampe murale<mat-slide-toggle></mat-slide-toggle>
              <br>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid400">
            <ng-template ngbTabTitle>
              <i class="fa fa-clock-o fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
              <hr>
              <pre>Fermeture prévue à: {{time.hour}}h{{time.minute}}</pre>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div>
    <div class="room text-center">
      <div class="room-header fa-2x">Bureau Sud-Est</div>
      <div class="room-block" >
        <ngb-tabset #t="ngbTabset" [justify]="'justified'">
          <ngb-tab id="tab-selectbyid10">
            <ng-template ngbTabTitle>
              <i class="fa fa-thermometer-half fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <span class="fa-2">25°</span>
              <br>
              <mat-slider
                class="example-margin"
                [vertical]="false"
                [thumb-label]="true"
              >
              </mat-slider>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid20">
            <ng-template ngbTabTitle>
              <i class="fa fa-camera fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>



            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid30">
            <ng-template ngbTabTitle>
              <i class="fa fa-lightbulb-o fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <br>
              Lampe murale<mat-slide-toggle></mat-slide-toggle>
              <hr>
              Lampe murale<mat-slide-toggle></mat-slide-toggle>
              <br>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-selectbyid40">
            <ng-template ngbTabTitle>
              <i class="fa fa-clock-o fa-1" aria-hidden="true"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
              <hr>
              <pre>Fermeture prévue à: {{time.hour}}h{{time.minute}}</pre>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</swiper>
