<div id="mySidenav" class="sidenav">
  <div class="container">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

    <h1>Programmation du bureau</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Ouverture des bureaux
          </div>
          <div class="card-body text-left">
            <mat-slide-toggle class="pull-right" [checked]="office.shouldBeOpennedAuto" [(ngModel)]="office.shouldBeOpennedAuto" [color]="'primary'"></mat-slide-toggle>

            <ngb-timepicker *ngIf="!office.shouldBeOpennedAuto" [(ngModel)]="office.openningTime" [disabled]="office.shouldBeOpennedAuto" [spinners]="false"></ngb-timepicker>
            <p *ngIf="office.shouldBeOpennedAuto">
              {{office.openningTime.hour}} h
              <span *ngIf="office.openningTime.minute < 10">0{{office.openningTime.minute}}</span>
              <span *ngIf="office.openningTime.minute > 10">{{office.openningTime.minute}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Fermeture des bureaux
          </div>
          <div class="card-body text-left">
            <mat-slide-toggle class="pull-right" [checked]="office.shouldBeClosedAuto" [(ngModel)]="office.shouldBeClosedAuto" [color]="'primary'"></mat-slide-toggle>

            <ngb-timepicker *ngIf="!office.shouldBeClosedAuto" [(ngModel)]="office.closingTime" [disabled]="office.shouldBeClosedAuto" [spinners]="false"></ngb-timepicker>
            <p *ngIf="office.shouldBeClosedAuto">
              {{office.closingTime.hour}} h
              <span *ngIf="office.closingTime.minute < 10">0{{office.closingTime.minute}}</span>
              <span *ngIf="office.closingTime.minute > 10">{{office.closingTime.minute}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            Vigipirate mode
          </div>
          <div class="card-body text-left">
            <mat-slide-toggle class="pull-right" [checked]="office.vigipirate" [(ngModel)]="office.vigipirate" [color]="'primary'"></mat-slide-toggle>

            <p *ngIf="!office.vigipirate">
              Désactivé
            </p>
            <p *ngIf="office.vigipirate">
              Activé
            </p>

            <div *ngIf="!office.vigipirate">
              <div class="form-group">
                  <label class="form-control-label">Ouverture</label>
                  <ngb-timepicker *ngIf="!office.vigipirate" [(ngModel)]="office.vigipirateOpenningTime" [disabled]="office.vigipirate" [spinners]="false"></ngb-timepicker>
              </div>
              <div class="form-group">
                  <label class="form-control-label">Fermeture</label>
                  <ngb-timepicker *ngIf="!office.vigipirate" [(ngModel)]="office.vigipirateClosingTime" [disabled]="office.vigipirate" [spinners]="false"></ngb-timepicker>

              </div>
            </div>
            <div *ngIf="office.vigipirate">
              <div class="form-group">
                  <label class="form-control-label">Ouverture</label>
                  <p class="pull-right">
                      {{office.vigipirateOpenningTime.hour}} h
                      <span *ngIf="office.vigipirateOpenningTime.minute < 10">0{{office.vigipirateOpenningTime.minute}}</span>
                      <span *ngIf="office.vigipirateOpenningTime.minute > 10">{{office.vigipirateOpenningTime.minute}}</span>
                  </p>
              </div>
              <div class="form-group">
                  <label class="form-control-label">Fermeture</label>
                  <p class="pull-right">
                      {{office.vigipirateClosingTime.hour}} h
                      <span *ngIf="office.vigipirateClosingTime.minute < 10">0{{office.vigipirateClosingTime.minute}}</span>
                      <span *ngIf="office.vigipirateClosingTime.minute > 10">{{office.vigipirateClosingTime.minute}}</span>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Conservation de la chaleur/fraîcheur
                </div>
                <div class="card-body text-left">
                    <mat-slide-toggle class="pull-right" [checked]="office.shouldBeClosedAutoDueToTemp" [(ngModel)]="office.shouldBeClosedAutoDueToTemp" [color]="'primary'"></mat-slide-toggle>

                    <p *ngIf="!office.shouldBeClosedAutoDueToTemp">
                        Désactivé
                    </p>
                    <p *ngIf="office.shouldBeClosedAutoDueToTemp">
                        Activé
                    </p>
                    <div *ngIf="!office.shouldBeClosedAutoDueToTemp">
                        <div class="form-group">
                            <label class="form-control-label">Max</label>
                            <input class="form-control pull-right" [(ngModel)]="office.tooHighTemp" type="number" />
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Min</label>
                            <input class="form-control pull-right" [(ngModel)]="office.tooLowTemp" type="number" />
                        </div>
                    </div>
                    <div *ngIf="office.shouldBeClosedAutoDueToTemp">
                        <div class="form-group">
                            <label class="form-control-label">Max</label>
                            <p class="pull-right">{{office.tooHighTemp}}°C</p>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Min</label>
                            <p class="pull-right">{{office.tooLowTemp}}°C</p>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
