<div class="row">
    <div class="col">
        <h2><i class="fa fa-bolt" aria-hidden="true"></i> Bilan de la consommation : {{ roomName }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 card card-body">
        <div style="display: block;">
            <canvas baseChart width="400" height="200"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
    <div class="col-md-6" style="margin-bottom: 10px">
        <table class="table table-responsive table-condensed">
            <tr>
                <th *ngFor="let label of lineChartLabels">{{label}}</th>
            </tr>
            <tr>
                <td *ngFor="let label of lineChartLabels; let j=index">{{lineChartData[1].data && lineChartData[1].data[j]}}</td>
            </tr>
        </table>
        <button type="button" class="btn btn-block btn-outline-primary" (click)="randomize()">CLICK</button>
    </div>


</div>
