
<div class="card" style="background-color:rgba(255, 255, 255, 0.7)">
    <div class="card-header">
        {{ room.name }}
    </div>
    <div class="card-body" style="background-color:rgba(0, 0, 0, 0.1)">
        <div class="row" >
            <div class="col">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            </div>
            <div class="col">
                <i class="fa fa-window-maximize" aria-hidden="true"></i>
            </div>
            <div class="col">
                <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
            </div>
            <div class="col">
                <i *ngIf="false" class="fa fa-user-times" aria-hidden="true"></i>
                <i class="fa fa-user-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
