<div class="row">
    <div class="col">
        Lumieres
    </div>
    <div class="col">
        Volets
    </div>
    <div class="col">
        Chauffage
    </div>
    <div class="col">
        Presence
    </div>
</div>
<div class="row">
    <div class="col">
        <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
    </div>
    <div class="col">
        <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
    </div>
    <div class="col">
        <i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>
    </div>
    <div class="col">
        <i *ngIf="false" class="fa fa-user-times" aria-hidden="true"></i>
        <i class="fa fa-user-o" aria-hidden="true"></i>
    </div>
</div>
